.mymasonrygrid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
   /* gutter size offset */
    width: auto;
    z-index: 1;
  }


  .mymasonrygridcolumn {
    padding-left: 5px; /* gutter size */
    background-clip: padding-box;
  }
  @media screen and (max-width:800px) {
    .mymasonrygridcolumn {
      margin:5px 20px 30px 20px;
      padding-left: 0px;
      padding-bottom:10px;
    }
  }  
  /* Style your items */
  .my-masonry-grid_column > span { /* change div to reference your elements you put in <Masonry> */
 
    margin-bottom: 30px;
  }