.mymasonrygrid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }
  .mymasonrygridcolumn {
    padding-left: 5px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > span { /* change div to reference your elements you put in <Masonry> */
    background: red;
    margin-bottom: 30px;
  }